*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(assets/Himalayas.jpg);
    background-size: 100% ;
    backdrop-filter:blur(0.6);
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#weather_report_ctr{
    width: 50vw;
    height: 80vh;
    background-color: rgba(0, 0, 0,0.50);
    border-radius: 3vw;
}
#search_input_ctr{
    width: 40vw;
    height: 10vh;
    position: relative;
    left: 10%;
    top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_input_box{
    color: white;
    width: 40vw;
    height: 9vh;
    font-size: 2vw;
    padding-left: 30%;
    border-radius: 2vw;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0,0.50);
}
#search_icon{
    position: absolute;
    left: 90%;
    font-size: 2vw;
    color: lightgray;
    cursor: pointer;
}
#search_input_box::placeholder{
    color: white;
}
#search_icon:hover{
    color: white;
}
#city_info_ctr{
    width: 15vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: 4vw;
}
#location_icon{
    font-size: 6vw;
    color: red;
}
#city_name{
    position: relative;
    left: 10%;
    color: white;
}
#weather_details_ctr{
    width: 40vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 47%;
    left: 29%;
    color: white;
}
#weather_image{
    width: 9vw;
}
#temp_value{
    font-size: 5vw;
}
#weather_content{
    position: relative;
    left: 0%;
    font-size: 4.5vw;
}
#humidity_wind_ctr{
    width: 40vw;
    height: 20vh;
    position: relative;
    top: 57%;
    left: 10%;
    display: flex;
    flex-direction: row;
    column-gap: 4%;
    justify-content: space-between;
    align-items: center;
}
.humidity_wind{
    width: 25vw;
    height: 25vh;
     background-color: rgba(0, 0, 0,0.60);
     display: flex;
     flex-direction: column;
     row-gap: 3%;
     align-items: center;
     justify-content: center;
     color: white;
     border-radius: 3vw;
    }
    .humidity_wind_icons{
        color: white;
        font-size: 2vw;
    }
    .humid_wind_values{
        font-size: 3vw;
    }
 .humidity_wind:hover{
    background-color: rgba(0, 0, 0,0.20);
    cursor: pointer;

}
/* ------------------ RESPONSIVE DESIGN ------------------ */
@media screen and (max-width: 768px) {

    body {
        padding: 20px;
        background-size: cover;
        overflow-y: auto;
    }

    #weather_report_ctr {
        width: 90vw;
        height: auto;
        padding: 20px;
        border-radius: 6vw;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #search_input_ctr {
        width: 80vw;
        height: 8vh;
        left: 5%;
        top: 5%;
    }

    #search_input_box {
        width: 80vw;
        height: 7vh;
        font-size: 4vw;
        padding-left: 15%;
        border-radius: 4vw;
    }

    #search_icon {
        left: 85%;
        font-size: 4vw;
    }

    #city_info_ctr {
        width: 80vw;
        height: auto;
        left: 10%;
        top: 20%;
        flex-direction: row;
        font-size: 8vw;
    }

    #location_icon {
        font-size: 10vw;
    }

    #weather_details_ctr {
        width: 80vw;
        height: auto;
        top: 38%;
        left: 10%;
        flex-direction: column;
        text-align: center;
        row-gap: 10px;
    }

    #weather_image {
        width: 25vw;
    }

    #temp_value {
        font-size: 10vw;
    }

    #weather_content {
        font-size: 5vw;
    }

    #humidity_wind_ctr {
        width: 80vw;
        height: auto;
        top: 50%;
        left: 10%;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .humidity_wind {
        width: 70vw;
        height: 20vh;
        border-radius: 5vw;
    }

    .humidity_wind_icons {
        font-size: 5vw;
    }

    .humid_wind_values {
        font-size: 6vw;
    }

    #humidity_heading, #wind_heading {
        font-size: 5vw;
    }
}




